<div class="container">
  <div id="bg">

  </div>
    <h1>New Comic Review</h1>
  <div class="nav"><hr>
    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}} |
    {{#link-to 'contact'}}Contact{{/link-to}}
   </div><hr>
  {{outlet}}
  <hr>
  <footer>© 2017</footer>
</div>
