<div class="pull-right">
{{update-post post=model update="update"}}<br>
</div>

<h2>{{model.title}}</h2>


{{post-detail post=model destroyPost="destroyPost" destroyComment="destroyComment"}}


<div class="pull-right">
{{new-comment saveComment="saveComment" post=model}}
</div>
